.career__timeline {
    min-height: 100vh;
    background-color: #ffe2bdc9
}

.career__timeline h2 {
    color: #3d3d3d;
    font-size: 2.5rem;
    font-weight: 400;
    padding-top: 2rem;
    padding-bottom: 0rem;
    text-align: center;
    font-family: sans-serif;
}

.career__timeline__underline {
    width: 5rem;
    text-align: center;
    background-color: #3d3d3d;
    height: 0.25rem;
    margin-bottom: 1rem;
}

.timeline__opposite__content {
    margin-top: 0.75rem
}

.timeline__content {
    position: relative;
    bottom: 1rem;
}

.timeline__paper {
    display: flex;
    padding: 0.5rem;
    width: fit-content;
    min-height: fit-content;
}

.timeline__paper .job__info{
    padding: 0.5rem;
    width: fit-content;
    min-height: fit-content;
}

.timeline__paper__reverse {
    display: flex;
    padding: 1rem;
    width: fit-content;
    min-height: fit-content;
    float: right;
}

.timeline__paper__reverse .degree__info{
    padding: 0.5rem;
    width: fit-content;
    min-height: fit-content;
}