.projects {
    min-height: 100vh;
}

.projects__cards {
    display: flex;
    flex-wrap: wrap;
}

.projects__card {
    margin: 1rem;
    width: 23rem;
    max-width: 23rem;
}

.projects__card__content {
    min-height: 11.5rem;
}

.projects__git__link {

}