.contact {
    min-height: 100vh !important;
    background-color: #ffbdbdc9
}

.contact h2 {
    color: #3d3d3d;
    font-size: 2.5rem;
    font-weight: 400;
    padding-top: 2rem;
    padding-bottom: 0rem;
    text-align: center;
    font-family: sans-serif;
}

.contact__container {
    min-height: calc(100vh - 2rem);
    background-color: #ffffff;
    margin: 1rem 4rem;
    border-radius: 0.75rem;
}

.contact__underline {
    width: 7rem;
    text-align: center;
    background-color: #3d3d3d;
    height: 0.25rem;
    margin-bottom: 1rem;
}

.contact__card ul {
    list-style-type: none;
}

.contact__card a {
    color: #3d3d3d;
}

.contact__card img {
    width: 3rem;
    margin: 1rem;
    padding: 0.25rem;
}

.contact__card img:hover {
    background-color: #eeeeee;
    cursor: pointer;
}